@media (max-width: 1750px) {
    .primo-piano.rowfull .imgfull {
        -ms-flex: 0 0 56.333333%;
        flex: 0 0 56.333333%;
        max-width: 56.333333%;
    }
}

@media (max-width: 1400px) {
    .primo-piano.rowfull .imgfull {
        -ms-flex: 0 0 57.333333%;
        flex: 0 0 57.333333%;
        max-width: 57.333333%;
    }
}

@media (max-width: 1280px) {
    .pr-100 {
        padding-right: 60px !important;
    }
    .pl-100 {
        padding-left: 60px !important;
    }
    .pad-section-90 {
        padding: 60px 0;
    }
}

@media (max-width: 1199px) {
    .menu-footer .offset-sm-1 {
        margin-left: 0;
    }
    footer .footer-privacy {
        padding-left: 20px;
    }
    footer .social a {
        min-width: 28px;
        padding: 5px 0;
        margin: 0 3px 0 0;
    }
    .footer-data {
        flex: 0 0 62.333333%;
        max-width: 62.333333%;
    }
    .offerta-iulm .offerta {
        padding-left: 20px;
        padding-right: 20px;
    }
    #mainmenu li a {
        padding: 40px 12px 40px;
    }
    .navbar-collapse a, .navbar-collapse a:active {
        font-size: 14px;
    }
    .rowfull .imgfull {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .offerta-iulm .offerta h2 {
        font-size: 28px;
    }
    .menu-scroll .item {
        padding: 15px 25px 6px;
    }
    .col-md-6.pad-docente.docentiinfo {
        /* padding-left: 65px; */
        padding-left: 45px;
    }
    .chosen-wrapper {
        /* max-width: 230px; */
    }
    .btn-search {
        margin-left: 15px;
    }
    .box-ricerca-widget .col-lg-8 .col-12 {
        padding: 20px;
    }
    .box-testo .box-single.col-lg-4 {
        padding-right: 20px;
    }
    .select-wrapper.md-form>ul li label {
        margin: 0 10px 0 0;
    }
    .select-wrapper.md-form>ul li.select-toggle-all label {
        padding-left: 32px;
    }
    .select-wrapper.md-form .dropdown-content li>a, .select-wrapper.md-form .dropdown-content li>span, .select-wrapper.md-form>ul li label {
        font-size: 14px;
    }
    .rigaevento {
        padding: 35px 35px 35px 35px;
    }
    .rigaevento .dataevento {
        padding: 0 20px 0 0;
    }
}

@media (max-width: 1024px) {
    .slider-menunav .dropdown-toggle::after {
        margin-left: 10px;
    }
    .slider-menunav li a.nav-link {
        padding: 15px 17px;
    }
    .slider-menunav .dropdown-item, .slider-menunav li:first-child .dropdown-item {
        padding: 5px 23px 5px 17px;
    }
    .slider-menunav li:first-child .dropdown-menu {
        left: 0;
    }
}

@media (min-width: 769px) {
    .corso-single .cta.mb-35 {
        /* padding: 0; */
        /* margin-top: -15px; */
    }
}

@media (min-width: 992px) {
    #navbar-corso.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

@media (max-width: 991px) {
    footer .logo {
        max-width: 150px;
    }
    header.head {
        padding-top: 20px;
        padding-bottom: 0px;
        background: #fff;
        position: relative;
        z-index: 3;
    }
    header.head.active {
        background: #EAEBEB;
        /* padding-bottom: 0; */
    }
    header.head.active #lang, header.head.active #lang-mobile, header.head.active .search-mobile {
        display: none;
    }
    header.head.active #lang-mobile {
        display: inline-block;
    }
    header.head.active .nav-mobile #lang-mobile .dropdown-menu {
        background: transparent;
        padding: 1px 0;
    }
    .slick-prev {
        left: -15px;
    }
    .slick-next {
        right: -15px;
    }
    .slickvideo-prev {
        left: inherit;
    }
    .slickvideo-next {
        right: inherit;
    }
    /* header.head.active {
        height: 100vh;
    } */
    .container {
        max-width: inherit;
        padding-left: 30px;
        padding-right: 30px;
    }
    header > .container {
        padding: 0;
    }
    .overlaymaster .col-12 .container, .overlaydottorato .col-12 .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .content-snodo > .container, .content-widget > .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .nopadding {
        padding-left: 0;
        padding-right: 0;
    }
    .nav-mobile .navbar-brand {
        padding-left: 25px;
    }
    .copy-footer > div {
        width: 100%;
        max-width: 100%;
        flex: none;
        margin: 5px 0;
        text-align: left !important;
    }
    .copy-footer > div.offset-sm-1 {
        padding-left: 20px;
    }
    .home-slider .caption-container {
        width: 83%;
        left: 80px;
    }
    .home-slider .caption {
        margin-left: -80px;
    }
    .boxinfo {
        -ms-flex: 0 0 38.333333%;
        flex: 0 0 38.333333%;
        max-width: 38.333333%;
    }
    .alternate.primo-piano .boxinfo {
        -ms-flex: 0 0 42.333333%;
        flex: 0 0 42.333333%;
        max-width: 42.333333%;
    }
    .boxinfo h2, .boxslider h2 {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .boxinfo p, .boxslider p {
        font-size: 17px;
    }
    .boxslider a.contentbox {
        /* padding: 80px 50px; */
        padding: 80px 60px;
    }
    .boxinfo a.contentbox {
        padding: 80px 50px 80px 20px;
    }
    .alternate.primo-piano .boxinfo a.contentbox {
        padding-left: 50px;
    }
    .standard-slider h2 {
        font-size: 26px;
    }
    .offerta-iulm .offerta h2 {
        font-size: 26px;
    }
    footer .menu-footer a {
        font-size: 14px;
    }
    .nav-mobile .search-container {
        padding-top: 0 !important;
    }
    .readmore {
        z-index: 99;
    }
    .images-inside-post .col-4 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .single-header img {
        /* visibility: visible;
        display: block;
        min-height: 400px; */
    }
    .heightSingle { 
        min-height: 350px;
        /* background-image: none !important; */
    }
    .videobg-container {
        min-height: 500px;
    }
    .rete-iulm .col-md-2, .rete-iulm .col-md-10 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .content-snodo .col-12 {
        /* padding: 70px 25px 80px 15px; */
        padding: 40px 30px 50px;
    }
    .bgalt-image .nav-tabs .nav-link {
        font-size: 18px;
    }
    .offerta-formativa .tab-content .internal-menu li {
        width: 49%;
    }
    .home-slider .slick-slide::before, .single-header > div::before {
        display: none;
    }
    .bgtrianglebig {
        background: none;
    }
    .box-single {
        /* margin-top: 25px; */
    }
    .box-testo .box-single {
        padding: 40px 35px;
    }
    .offerta-formativa h2 {
        margin-bottom: 15px;
    }
    .container-searchofferta .col {
        padding: 30px;
    }
    .pad-section-25 {
        padding: 12px 0 40px;
    }
    .corso-single .caption-slider {
        display: none;
    }
    .caption-mobile-corso {
        display: block;
    }
    .menu-scroll-wrapper {
        border-bottom: 0;
        height: auto;
        overflow-x: initial;
        overflow-y: initial;
        border-top: 1px solid #ccc;
    }
    .menu-scroll-container {
        position: absolute;
        top: 92px;
        left: 0;
        background: #fff;
    }
    /* .safari .mobile .menu-scroll-container {
        top: 85px;
    } */
    .menu-scroll .item {
        display:  block;
        width: 100%;
        padding: 8px 25px;
    }
    .menu-scroll {
        height: auto;
        width: calc(100% + 15px);
        border-radius: 0;
        border: 0;
        left: -5px !important;
        transform: translate3d(-10px, 48px, 0px) !important;
    }
    .menu-scroll .item:first-child {
        padding-left: 25px;
    }
    .menu-scroll.dropdown-menu .item.dropdown-item {
        padding: 8px 25px 8px 40px !important;
    }
    .menu-scroll.dropdown-menu .item.dropdown-item:first-child {
        padding-left: 40px;
    }
    .menu-scroll .item.active {
        display: none;
    }
    .dropdown .menu-scroll.dropdown-menu .dropdown-item:hover {
        background-color: #f8f9fa;
        box-shadow: none !important;
        color: #b0b0b0;
    }
    .dropdown .menu-scroll.dropdown-menu .dropdown-item:hover a {
        color: #b0b0b0;
    }
    .corso-single .home-slider .slick-track, .corso-single .home-slider .slick-slide img,
    .corso-single.master-home .home-slider .slick-track, .corso-single.master-home .home-slider .slick-slide img {
        min-height: 348px;
        max-height: 348px;
    }
    .padsection-corso {
        padding: 0px 15px 0px;
    }
    .padsection-corso.pr-150 {
        padding-right: 40px !important;
    }
    .padsection-corso.corso-pintro {
        padding-bottom: 10px;
    }
    .corso-titleintro, .corso-pintro {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px !important;
    }
    .corso-titleintro h2 {
        margin-bottom: 20px;
    }
    /* .struttura-corso {
        padding-top: 50px;
    } */
    .struttura-corso h4.mb-50 {
        margin-bottom: 20px !important;
    }
    .accordion-widget.mt-50 {
        margin-top: 25px !important;
    }
    .accordion-widget .accordion-toggle {
        padding: 15px;
    }
    .contenuto-accordion {
        /* max-height: 360px; */
    }
    .banda-info-dati {
        position: relative;
    }
    .banda-info-dati::after {
        /* right: -999em;
        background: #fff;
        content: '';
        display: block;
        position: absolute;
        width: 999em;
        top: 0;
        bottom: 0; */
        display: none;
    }
    .banda-info-dati::before {
        left: -999em;
        background: #fff;
        content: '';
        display: block;
        position: absolute;
        width: 999em;
        top: 0;
        bottom: 0;
    }
    .corso-indirizzi-content {
        width: 100%;
        margin-top: 20px; 
        margin-bottom: 20px; 
        margin-left: 0; 
        padding: 30px 0 20px;
    }
    .corso-indirizzi-content:first-child {
        margin-top: 0;
        padding-top: 0;
    }
    .cardaccordion {
        padding-bottom: 30px;
    }
    .border-top-bread {
        border-top: 0px;
        margin-top: 0px;
    }
    .border-top-bread .padsection-corso {
        padding: 0px 15px 0px;
    }
    /* fix widget */
    .content-widget.widget-full {
        margin-bottom: 25px !important;
    }
    .content-widget.widget-full.mt-35 {
        margin-top: 25px !important;
    }
    .collegamenti {
        margin: 25px 0 25px;
    }
    .content-widget.rete-iulm {
        margin-bottom: 25px !important;
        margin-top: 25px !important;
    }
    .content-snodo, .content-widget {
        padding: 20px 0;
    }
    /* end fix widget */
    .nocontenuto {
        display: none;
    }
    .col-lg-8.box-single {
        margin-top: 25px;
    }
    .caption-mobile-corso .meta-single {
        margin-bottom: 20px;
        margin-top: 0;
    }
    .intro-notitle .corso-pintro-big {
        padding-top: 0;
    }
    .container-ricerca-persone .col-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .container-ricerca-persone.ricerca-libera .col-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .container-ricerca-persone .col-6 form {
        text-align: left !important;
    }
    .chosen-wrapper {
        max-width: 330px;
    }
    .ricerca-lettere-list li {
        padding: 2px 7px;
        font-size: 17px;
    }
    .slider-box .slick-next.external {
        right: -35px;
    }
    .slider-singlegenerica {
        max-width: 100% !important;
    }
    .slider-singlegenerica .slick-dots {
        padding: 1.5rem 33px;
    }
    .pubblicazioni .col-3 {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .pubblicazioni .col-9 {
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }
    .navmenu-slider .show-mobile {
        display: block;
    }
    .slider-menunav > li {
        display: block;
    }
    .slider-menunav li.dropdown.show .dropdown-menu {
        position: static !important;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navmenu-slider .container {
        padding-left: 0;
        padding-right: 0;
    }
    .navmenu-slider {
        border-top: 1px solid #ccc;
    }
    .slider-menunav li a.nav-link {
        padding: 15px 45px;
        border-top: 1px solid rgba(255,255,255,0.3);
    }
    .slider-menunav li:first-child a.nav-link {
        border-top: 0;
    }
    .slider-menunav .dropdown-item, .slider-menunav li:first-child .dropdown-item {
        padding: 7px 45px 7px 55px;
    }
    .slider-menunav .dropdown-item, .navbar .slider-menunav .dropdown-menu a {
        padding: 7px 45px 7px 55px;
    }
    .slider-menunav .dropdown-item {
        word-break: break-word;
        white-space: inherit;
        line-height: 20px;
    }
    .slider-menunav .dropdown-menu.animated {
        animation-duration: unset !important;
    }
    .slider-menunav .dropdown-toggle::after {
        float: right;
        font-family: "Font Awesome 5 Pro";
        font-weight: 300;
        content: "\f078";
        border: 0;
        margin: 0px -2px 0 0;
        text-align: right;
        width: 1.5em;
        color: #fff !important;
    }
    .slider-menunav .show .dropdown-toggle::after {
        content: "\f077";
    }
    .navmenu-slider .bgleft::before {
        display: none;
    }
    .navmenu-slider {
        top: auto;
    }
    .navmenu-slider.sticky {
        /* top: 92px; */
        top: 75px;
    }
    .titolo-filtri, .filtri-news {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .titolo-filtri .num-risultati {
        margin-bottom: 20px;
    }
    .sticky, .sticky-placeholder {
        display: block;
    }
    header.head.sticky .nav-mobile .navbar-brand img {
        max-width: 110px;
    }
    header.head.sticky {
        padding-top: 10px;
    }
    header.head.sticky .nav-mobile .navbar-brand.pb-20 {
        padding-bottom: 10px !important;
    }
    .navbar-toggler-icon {
        margin-top: 1px;
    }
    .head.sticky .navbar-toggler-icon {
        margin-top: 6px;
    }
    .box-new-contatti {
        padding-left: 20px;
        padding-right: 20px;
    }
    .home-slider.heightSingle .slick-slide { 
        height: auto;
    }
    body.home .home-slider .caption-container {
        max-width: 80%;
    }
}

@media (max-width: 920px) {
    .standard-slider .slick-slide a.contentbox {
        padding: 40px 20px;
    }
    .herorow {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    .offerta-iulm .col-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 30px;
    }
    footer .bgleft {
        /* -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; */
        padding: 35px 15px;
    }
    footer .bgright  {
        padding: 35px 0;
    }
    .rowfooter {
        margin-right: -30px;
        margin-left: -30px;
    }
    .footer-logo, .footer-data {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .footer-data {
        padding: 20px 30px 0;
    }
    footer .footer-privacy {
        padding-top: 85px;
    }
    .internal-menu.col3 li {
        width: 49%;
    }
    .widget-full .col-md-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .rettori .col-4, .rettori .col-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .rettori.content-widget .bgleft::before {
        display: none;
    }
    .link-single.pos-bottom {
        position: relative;
    }
    .heightSingle { 
        min-height: 300px;
    }
    .videobg-container {
        min-height: 500px;
    }
    .info-rettore h6 {
        font-size: 19px;
        line-height: 22px;
    }
    .info-rettore p {
        font-size: 15px;
    }
    .slider-rettori a .readmore {
        display: none;
    }
    .slider-rettori .slick-slide {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top center;
    }
    .info-rettore {
        display: block;
        /* position: absolute; */
        position: relative;
        top: inherit;
        left: inherit;
        background: #003a70;
        width: 100%;
        height: auto;
        padding: 20px 20px 10px;
        /* bottom: 0; */
        margin-top: 225px;
    }
    .slider-rettori a {
        min-height: 1px;
        position: relative;
    }
    .dipartimenti .internal-menu li {
        width: 49%;
    }
    .banda-info-dati .col-3 {
        /* -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%; */
        padding: 20px 0;
    }
    .banda-info-dati .col-3 .padbox div {
        font-size: 16px;
        margin: 0 auto 10px;
        max-width: 100%;
    }
    .banda-info-dati .col-3 .padbox p span, .banda-info-dati .col-3 .padbox p {
        font-size: 24px;
        margin-bottom: 0;
    }
    .banda-info-dati .col-3 .padbox {
        padding: 10px 25px 20px;
    }
    .rettori .slick-list {
        padding: 0 10% 0 0;
    }
    .col-md-6.pad-docente.docentiinfo {
        /* padding-left: 75px; */
        padding-left: 35px;
        padding-right: 0;
    }
    .container-ricerca-persone .col-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-top: 20px;
    }
    .container-ricerca-persone .col-4:first-child {
        padding-top: 40px;
    }
    .container-ricerca-persone .col-4 .chosen-wrapper {
        max-width: 100% !important;
    }
    .lista-partner-singolo .col-4{
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 38.333333%;
        max-width: 38.333333%;
    }
    .lista-partner-singolo .col-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 61.666667%;
        max-width: 61.666667%;
    }
    .rigaevento .testievento {
        padding-left: 25px;
    }
    .rigaevento .testievento {
        padding-left: 25px;
        /* width: calc(100% - 230px); */
        flex: 0 0 calc(100% - 130px);
        max-width: calc(100% - 130px);
        -ms-flex: 0 0 calc(100% - 130px);
    }
    .rigaevento .col-md-2 {
        min-width: 130px;
    }
}

@media (min-width: 921px) {
    .d-lg920-flex {
        display: -ms-flexbox!important;
        display: flex!important;
    }
    .ie .tab-content.d-lg920-flex {
        display: block !important;
        width: 100%;
    }
    .d-lg920-none {
        display: none!important;
    }
}

@media (max-width: 880px) {
    .home-slider .caption-container {
        border: 0;
    }
    .slickhome {
        display: none;
    }
    .home-slider .slick-dots {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform:translateX(-50%);
    }
    .home-slider .slick-dots button {
        width: 13px;
        height: 13px;
    }
    .boxinfo {
        flex: 0 0 46.333333%;
        max-width: 46.333333%;
    }
    .rowfull .imgfull {
        flex: 0 0 50.333333%;
        max-width: 50.333333%;
    }
    span.text-responsive {
        display: none;
    }
    .standard-slider .slick-slide a.contentbox {
        padding: 40px 30px;
    }
    .primo-piano.rowfull .imgfull {
        -ms-flex: 0 0 50.333333%;
        flex: 0 0 50.333333%;
        max-width: 50.333333%;
    }
    .topic-correlati .boxcorrelati {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .topic-correlati .boxcorrelati:first-child {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        max-height: 250px;
    }
    .topic-correlati .bgblue:first-child:before, .topic-correlati.bgrightfull .bgwhite:last-child:before {
        display: none;
    }
    .corso-single .content-single {
        overflow: hidden;
    }
    .menu-scroll .item {
        padding: 8px 40px;
    }
    .jp-progress {
        right: 100px;
        width: calc(100% - 150px);
    }
    .home-slider, .home-slider .slick-track, .home-slider .slick-slide img {
        /* min-height: 500px; */
        min-height: inherit;
    }
    .home-slider .slick-track, .home-slider .slick-slide img {
        object-fit: contain;
        min-height: inherit;
        max-height: inherit;
    }
    .home-slider .slick-slide {
        /* height: 500px; */
        height: auto;
    }
    .home-slider .caption-container {
        /* width: 90%; */
        width: 100%;
    }
    .home-slider .caption {
        /* bottom: 35%; */
        bottom: calc(50% + 70px);
        max-width: 100%;
    }
    .home-slider .caption-slider {
        top: 100%;
        padding: 0;
    }
    .home-slider .caption-container, .home-slider .caption-slider, .home-slider .caption {
        position: relative;
        width: 100%;
        margin: 0;
        left: 0;
        min-height: inherit;
    }
    .home-slider .slick-dots {
        bottom: -40px;
    }
    .home-slider .slick-slide iframe {
        left: 0 !important;
        border: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }
	
	/** lo specchietto dello slider della home finirebbe fuori pagina a sx, su smartphones **/
    body.home .home-slider .caption { margin: 0; }
    
    body.home .home-slider .caption-container {
        position: relative;
        width: 100%;
        margin: 0;
        left: 0;
        min-height: inherit;
        max-width: 100%;
        top: inherit;
        transform: none;
    }
    body.home .home-slider .link-image {
        position: relative;
        z-index: 1;
        cursor: pointer;
        height: 100%;
        width: 100%;
        display: block;
    }
    body.home .home-slider .caption {
        padding: 40px;
    }
    body.home .home-slider .link-image::before {
        display: none;
    }
}

@media (max-width: 881px) {
    .alternate.primo-piano .boxinfo {
        -ms-flex: 0 0 50.333333%;
        flex: 0 0 50.333333%;
        max-width: 50.333333%;
    }
} 


@media (max-width: 860px) {
    .banda-info-dati .col-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    /* .banda-info-dati .col-3:nth-child(3n) .padbox { */
    .banda-info-dati .col-3:nth-child(2n+1) .padbox {
        border-left: 0;
    }
}

@media (max-width: 820px) {
    .list-banner a {
        -ms-flex: 0 0 32.566667%;
        flex: 0 0 32.566667%;
        max-width: 32.566667%;
        padding: 15px;
    }
    .pad-docente .col-md-8, .pad-docente .col-md-4 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .card-body .img-professore img {
        /* max-width: initial !important;
        width: auto;
        height: 100%;
        padding-right: 45px; */
        position: relative;
        padding-right: 0;
        z-index: 0;
        max-height: 180px;
    }
    .col-md-6.pad-docente.docentiinfo {
        /* padding-left: 80px; */
        padding-left: 35px;
    }
    .info-rettore p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .docentiaccordion .card-body .container-fluid .row {
        display: block;
        position: relative;
        clear: both;
        overflow: hidden;
    }
    .card-body .img-professore {
        /* width: auto !important; */
        width: 100% !important;
        float: left;
        max-width: 164px !important;
    }
    .img-professore img {
        height: auto !important;
        max-width: 100% !important;
    }
    .col-md-6.pad-docente.docentiinfo {
        padding-left: 25px;
        /* padding-right: 0 !important; */
        padding-right: 25px !important;
        float: left;
        /* max-width: 65% !important; */
        max-width: 65% !important;
    }
    .contatti-professore {
        /* width: auto !important;
        float: left;
        max-width: 40% !important; */
        width: 100% !important;
        float: none;
        max-width: 100% !important;
        overflow: hidden;
    }
    .pad-docente {
        padding: 28px 25px !important;
    }
    .pad-docente.contatti-professore {
        padding-left: 188px !important;
        /* padding-left: 118px !important; */
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .card-body .img-professore img {
        width: 100%;
        height: auto !important;
        max-width: 100% !important;
        max-height: none !important;
    }
    .slider-rettori .slick-slide {
        background-size: 250px;
    }
}

@media (max-width: 767px) {
    .home-slider .caption {
        line-height: 48px;
        font-size: 43px;
        padding: 35px 30px 35px;
    }
    .home-slider.offerta-formativa .caption {
        font-size: 22px;
        color: #333;
        font-weight: 700;
        font-family: 'DIN', sans-serif;
        line-height: 30px;
    }
    .home-slider.offerta-formativa .caption h1 {
        font-size: 43px;
        color: #003a70;
        font-weight: bold;
    }
    .db-title h3 {
        font-size: 18px;
    }
    .db-title h2 {
        font-size: 30px;
    }
    .rowfull .imgfull {
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        min-height: 220px;
    }
    .primo-piano.rowfull .imgfull {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .boxinfo {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
    .boxinfo a.contentbox {
        padding: 35px;
        min-height: inherit;
    }
    .alternate.primo-piano .boxinfo a.contentbox {
        padding-left: 35px;
    }
    .alternate.primo-piano .boxinfo {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .rowfull {
        padding: 0 30px;
    }
    .primo-piano.rowfull {
        padding: 15px 30px;
    }
    .rowfull .row .container {
        padding-left: 0;
        padding-right: 0;
    }
    .boxinfo h4, .boxslider h4 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .boxinfo h2, .boxslider h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .boxinfo p, .boxslider p {
        font-size: 15px;
        font-weight: 500;
    }
    .pad-section-80 {
        padding: 55px 0;
    }
    .readmore {
        max-width: 30px;
        height: 30px;
        padding: 9px;
        line-height: 14px;
        white-space: inherit;
        transition: width .5s ease-out, color;
    }
    .readmore:hover {
        max-width: inherit;
    }
    .readmore span {
        display: none;
    }
    .readmore:hover span {
        opacity: 1;
        max-width: 160px;
        margin-right: 5px;
        transition: max-width .5s ease-out;
        display: inline-block;
    }
    .boxslider {
        min-height: 200px;
    }
    .boxslider a.contentbox {
        padding: 35px;
        height: 100% !important;
        min-height: 200px;
    }
    .mb-50 {
        margin-bottom: 30px !important;
    }
    .mtr-20 {
        margin-top: 20px !important;
    }
    .mt-50 {
        margin-top: 30px !important;
    }
    .mbr-30 {
        margin-bottom: 30px !important;
    }
    .pbr-30 {
        padding-bottom: 30px !important;
    }
    .news-slider {
        min-height: 200px;
    }
    .btn-primary {
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        margin-bottom: 10px;
    }
    .eventi-iulm .btn-primary {
        margin: 0 auto;
    }
    .btn-center {
        text-align: center;
    }
    .herorow {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .herorow p {
        font-size: 16px;
        font-weight: 500;
    }
    .offerta-iulm .col-3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    /*.home-slider, .home-slider .slick-track, .home-slider .slick-slide img {
        min-height: 500px;
    }
    .home-slider .slick-slide {
        height: 500px;
    }
    .home-slider .caption-container {
        width: 90%;
    }
    .home-slider .caption {
        /* bottom: 35%; 
        bottom: calc(50% + 70px);
    }*/
    .menu-footer {
        display: none;
    }
    footer .bordered {
        margin: 0 0 30px 0;
    }
    footer .footer-privacy {
        padding-top: 0;
        padding-left: 30px;
        padding-right: 30px;
    }
    footer .footer-privacy nav {
        padding: 20px 0;
    }
    footer .footer-privacy nav a {
        margin: 5px 20px;
        display: inline-block;
    }
    footer .footer-privacy nav a:first-child {
        margin-left: 0;
    }
    footer .social a {
        padding: 5px 8px;
        min-width: 30px;
        margin: 0 10px 0 0;
    }
    a.contentbox:hover .readmore span, .primo-piano .row.bgblue .readmore span {
        display: none !important;
    }
    .content-single h1 {
        font-size: 30px;
        line-height: 35px;
    }
    .go-back, .breadcrumbs, .sharing {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left !important; 
    }
    .sharing {
        margin-bottom: 15px;
    }
    .internal-menu li {
        display: block;
        width: 100%;
    }
    .internal-menu li a, .internal-menu li {
        padding-right: 10px;
    }
    .widget-full h3 {
        color: #333;
        font-size: 30px;
    }
    .internal-menu.col3 li {
        width: 100%;
    }
    .content-snodo h2, .content-widget h2 {
        font-size: 36px;
        line-height: 46px;
        max-width: 100%;
    }
    .content-snodo .boxsnodo {
        padding: 30px 15px;
    }
    .slider-singlegenerica .slick-slide {
        max-width: inherit;
    }
    .slider-singlegenerica .slick-slide .slick-video {
        /* max-width: 573px; */
        max-width: 100%;
    }
    .slider-singlegenerica {
        float: none;
        max-width: initial !important;
    }
    .full-width {
        width: 100%;
        position: relative;
        margin-left: 0;
        left: 0;
    }
    .slider-singlegenerica .slick-next.right {
        right: 0;
    }
    .slider-singlegenerica .slick-slide:before {
        display: none;
    }
    .focus-pagina .pl-60 {
        padding-left: 25px !important;
    }
    .focus-pagina h2 { 
        font-size: 30px;
        line-height: 40px;
    }
    .container-searchofferta .col {
        padding: 30px 15px 30px;
    }
    .heightSingle { 
        min-height: 200px;
    }
    .videobg-container {
        min-height: 500px;
    }
    .slider-singlegenerica .slick-slide img, .slider-singlegenerica .slick-video {
        min-height: inherit;
        max-height: inherit;
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    .slider-singlegenerica .slick-video {
        /* min-height: inherit;
        max-height: inherit;
        max-width: 100%;
        text-align: center;
        margin: 0 auto; */
    }
    .slider-singlegenerica.single-slide .slick-list {
        padding: 0 !important;
    }
    .slider-singlegenerica .slick-track {
        background: transparent;
    }
    .content-snodo .pl-60 {
        padding-left: 25px !important;
    }
    .slider-singlegenerica .slick-dots {
        padding: 1.5rem 25px;
    }
    .content-widget > .container {
        padding-left: 25px;
        padding-right: 25px;
    }
    .pl-35 {
        padding-left: 25px !important;
    }
    .content-widget .col-6.pr-35 {
        padding-right: 15px !important;
    }
    .content-widget .col-12 {
        padding: 40px 25px;
    }
    .content-widget .col-12.pl-35 {
        padding-left: 20px !important;
    }
    .dipartimenti .internal-menu li {
        width: 100%;
    }
    .menu-scroll .item {
        padding: 8px 40px;
    }
    .menu-scroll a {
        font-size: 16px;
    }
    .menu-scroll-container {
        /* -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px; */
    }
    .esplora-corso .col-md-4 {
        padding-left: 20px;
        margin-top: 50px;
    }
    .esplora-corso .col-md-4:first-child {
        margin-top: 0;
    }
    .content-widget.esplora-corso h5 {
        margin-bottom: 22px;
    }
    .esplora-corso .col-12 {
        padding-bottom: 0;
    } 
    .esplora-corso .col-12 h3 {
        margin-bottom: 0;
    }
    .content-snodo.cta .bgcover-r img, .content-snodo.approfondimenti .bgcover-r img {
        display: block;
    }
    .rettori.content-widget > .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .corso-single .rettori {
        padding: 0 !important;
    }
    .corso-single .content-snodo.cta {
        padding: 10px 0 20px;
    }
    .corso-single .container-snodo.bgalt-image h2, .corso-single .container-snodo.bgalt-image .db-title,
    .offerta-formativa .content-snodo h2, .offerta-formativa .content-snodo .db-title {
        padding: 0 !important;
        margin-bottom: 0;
    }
    .corso-single .container-snodo.bgalt-image .content-snodo .boxsnodo,
    .offerta-formativa .content-snodo .boxsnodo {
        padding: 15px 15px 20px;
    }
    .corso-single .container-snodo.bgalt-image .content-snodo .internal-menu,
    .offerta-formativa .content-snodo .internal-menu {
        margin-top: 12px !important;
    }
    .offerta-formativa .content-snodo .card-body .internal-menu {
        margin-top: 0 !important;
    }
    .corso-single .container-snodo.bgalt-image .content-snodo .col-12,
    .offerta-formativa .content-snodo .col-12 {
        padding: 28px 30px 5px;
    }
    .offerta-formativa .overlaymaster.content-snodo .col-12, .offerta-formativa .overlaydottorato.content-snodo .col-12 {
        padding: 28px 30px 35px;
    }
    .offerta-formativa .overlaymaster.content-snodo .card-soup .col-12, .offerta-formativa .overlaydottorato.content-snodo .card-soup .col-12 {
        /* padding: 28px 0px 35px; */
        padding: 10px 0;
    }
    .offerta-formativa .accordion-toggle {
        padding: 15px;
    }
    .offerta-formativa .card-soup {
        margin-top: 25px !important;
    }
    .offerta-formativa .box-new-contatti .card-soup {
        margin-top: 0 !important;
    }
    .offerta-formativa .card-body {
        /* padding-left: 40px; */
        padding-left: 30px;
    }
    .approfondimento-contenuto {
        padding: 40px 20px !important;
    }
    .corso-single .exstudentirow {
        padding: 0 0 35px !important;
    }
    .slider-box .slick-list {
        padding: 0 5% 0 0;
    }
    .chosen-wrapper {
        max-width: 300px;
    }
    .container-ricerca-persone {
        padding: 40px 30px;
    }
    .foto-docente, .foto-dx, .foto-dx-pubblicazione {
        display: none;
    }
    .intro-docente, .intro-pagsx {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .foto-docente-mobile, .foto-dx-mobile {
        display: inline-block;
        max-width: 38%;
        vertical-align: top;
        padding: 20px 20px 30px 0px;
    }
    .foto-dx-mobile img { 
        float: left;
        max-width: 100%;
    }
    .intro-info-docente, .intro-pagsx-contenuto {
        display: inline-block;
        width: 60%;
    }
    .content-pubblicazione.mt-40 {
        margin-top: 0 !important;
    }
    .slider-singlegenerica .slick-dots {
        padding: 1.5rem 0px;
    }
    .container-img-partner {
        float: left;
    }
    .container-ricerca-persone.ricerca-libera .col-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .container-ricerca-persone.ricerca-libera .col-6 .chosen-wrapper {
        max-width: 100%;
    }
    .lista-partner-singolo .col-4, .lista-partner-singolo .col-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .lista-partner-singolo .container-img-partner img {
        padding-bottom: 28px;
    }
    .lista-avviso-singolo {
        padding: 45px 35px 35px;
    }
    .slick-prev, .slick-next {
        width: 30px;
        height: 30px;
        padding: 9px;
        top: calc(50% - 15px);
        font-size: 80%;
        font-weight: 400;
    }
    .slider-suggeriti .boxslider a.contentbox {
        padding: 35px 45px;
    }
    footer .loghi-footer img {
        max-width: 70%;
    }
    .ultime-iulm .news-slider iframe {
        height: 300px;
    }
    .news-slider .slick-prev, .news-slider .slick-next {
        top: calc(50% - 0px);
    }
    .filtrinews-container.pad-section-35 {
        padding: 35px 0 40px;
    }
    .ultimenews .imgnews a {
        display: block;
        width: 100%;
    }
    .ultimenews .imgnews {
        min-height: 235px;
        max-height: 300px;
    }
    .videoplaylist .playlist iframe {
        min-height: 300px;
        max-height: 400px;
    }
    .rigaevento .dataevento {
        padding: 0 0px 35px;
        position: relative;
        border-right: 0;
        left: inherit;
        margin: 0 auto;
        display: block;
        transform: none;
    }
    .rigaevento .testievento {
        padding-left: 0px;
        flex: 0 0 100%;
        max-width: 100%;
        -ms-flex: 0 0 100%;
    }
    .select-wrapper.md-form span.caret {
        right: 6px;
    }
    .jp-progress {
        display: inline-block !important;
    } 
}

@media (max-width: 660px) {
    .foto-docente-mobile, .foto-dx-mobile {
        max-width: 100%;
        padding: 20px 0 20px;
        width: 100%;
    }
    .intro-info-docente, .intro-pagsx-contenuto {
        width: 100%;
    }
    .foto-dx-mobile img {
        max-width: 60%;
    }
    .container-img-partner {
        max-width: 100%;
    }
    .container-img-partner img {
        max-width: 90%;
    }
    footer .loghi-footer img {
        max-width: 80%;
    }
}

@media (max-width: 720px) {
    .slider-rettori .slick-slide {
        background-size: 270px;
    }
}

@media (max-width: 619px) {
    .slider-rettori .slick-slide {
        background-size: 100%;
    }
}

@media (max-width: 595px) {
    .chosen-wrapper {
        max-width: 100%;
    }
    .btn-search {
        margin-left: 0;
        margin-top: 15px;
    }
    footer .loghi-footer img {
        max-width: 90%;
    }
}

@media (max-width: 575px) {
    .cta-home .btn-primary {
        /* max-width: 30%; */
        width: 33%;
        text-align: center;
        padding: 15px 12px;
        float: none !important;
        min-height: 65px;
        word-wrap: break-word;
        display: table-cell;
        vertical-align: middle;
    }
    .cta-home {
        display: table;
        border-collapse: separate;
        border-spacing: 5px 0px;
    }
    .cta-ultimenews .col-12, .cta-eventi .col-12 {
        text-align: center;
    }
    .cta-ultimenews .btn-primary, .cta-eventi .btn-primary {
        float: none !important;
    }
    .internal-menu a {
        display: inline-block;
        width: 100%;
    }
    .internal-menu li {
        display: block;
        width: 100%;
    }
    .internal-menu.col3 a {
        width: 100%;
    }
    .internal-menu.col3 li {
        width: 100%;
    }
    footer .footer-privacy nav a {
        margin: 5px 0px;
        width: 49%;
    }
    .topic-correlati .boxcorrelati {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .widget-full .col-md-3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .banda-info-dati .col-3 .padbox p span, .banda-info-dati .col-3 .padbox p {
        font-size: 20px;
    }
    .card-soup .card-body{
        width: 100%;
        /* max-width: 340px; */
    }
    .card-soup .contenuto-accordion img {
        width: 100%;
    }
    .contenuto-accordion {
        padding: 0 15px 15px;
        max-height: none;
        overflow-y: auto;
    }
    .docentiaccordion.card-soup .card-body {
        max-width: 100%;
    }
    .card-body .img-professore {
        width: 100% !important;
        float: none;
        max-width: 100% !important;
    }
    .pad-docente.contatti-professore {
        padding-left: 25px !important;
    }
    .col-md-6.pad-docente.docentiinfo {
        max-width: 100% !important;
        padding-bottom: 15px !important;
        float: none;
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
}

@media (max-width: 480px) {
    .list-banner a {
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
        padding: 15px;
    }
    .slider-rettori .slick-slide {
        background-size: 225px;
    }
}

@media (max-width: 430px) {
    .banda-info-dati .col-3 {
        -ms-flex: 0 0 85%;
        flex: 0 0 85%;
        max-width: 85%;
        padding: 0;
        margin: 0 auto;
    }
    .banda-info-dati .col-3 .padbox {
        border-top: 2px solid #333;
        border-left: 0;
    }
    .banda-info-dati .col-3:first-child .padbox  {
        border-top: 0;
    }
    .banda-info-dati .col-3 .padbox {
        padding: 35px 20px;
    }
}

@media (max-width: 420px) {
    .jp-progress {
        display: none !important;
    }
}

@media (max-width: 385px) {
    .nav-mobile .navbar-brand img, footer .logo {
        max-width: 120px;
    }
    .home-slider .caption {
        font-size: 38px;
    }
    .navmenu-slider.sticky {
        top: 75px;
    }
}

/* font responsive */
@media screen and (min-width: 120px) {
    .content-single h1, .db-title h2, .video-caption h1 {
        font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
    }
    .home-slider .caption, .home-slider.offerta-formativa .caption h1 {
        font-size: calc(40px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
        line-height: calc(48px + (70 - 48) * ((100vw - 300px) / (1600 - 300)));
    }
    .home-slider.magazine .caption h2 {
        font-size: calc(25px + (40 - 25) * ((100vw - 300px) / (1600 - 300)));
    }
    .db-title h3 {
        font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (1600 - 300)));
    }
    .db-title h4 {
        font-size: calc(30px + (35 - 30) * ((100vw - 300px) / (1600 - 300)));
    }
    .content-snodo h2, .content-widget h2, .collegamenti .db-title h2 {
        font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
    }
    .rettori h3, .corso-titolo, .db-title h3.corso-titolo {
        font-size: calc(30px + (34 - 30) * ((100vw - 300px) / (1600 - 300)));
    }
    .news-correlate h5, .boxcorrelati h2, .content-risultato h2, .lista-avviso-singolo h3, .ultimenews .testinews h2 {
        font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (1600 - 300)));
    }
    .home-slider.corso-single h1 span {
        font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
    }
    .topbanner {
        font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
    }
    .ultimenews .testinews p {
        font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
        line-height: calc(22px + (30 - 22) * ((100vw - 300px) / (1600 - 300)));
    }
    .corso-titleintro h2 {
        font-size: calc(28px + (40 - 28) * ((100vw - 300px) / (1600 - 300)));
    }
    .corso-indirizzi-content .db-title h2 {
        font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
    }
    .rigaevento .dataevento .mese {
        font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
    }
}
@media screen and (min-width: 1000px) {
    .content-single h1, .db-title h2, .video-caption h1 {
        font-size: 50px;
    }
    .home-slider.magazine .caption h2 {
        font-size: 40px;
        font-weight: 700;
    }
    .home-slider .caption, .home-slider.offerta-formativa .caption h1 {
        font-size: 60px;
        line-height: 70px;
    }
    .db-title h3 {
        font-size: 30px;
    }
    .db-title h4 {
        font-size: 35px;
    }
    .content-snodo h2, .content-widget h2, .collegamenti .db-title h2 { 
        font-size: 40px;
    }
    .rettori h3, .corso-titolo, .db-title h3.corso-titolo {
        font-size: 34px;
    }
    .news-correlate h5, .boxcorrelati h2, .content-risultato h2, .lista-avviso-singolo h3, .ultimenews .testinews h2 {
        font-size: 30px;
    }
    .home-slider.corso-single h1 span {
        font-size: 22px;
    }
    .topbanner {
        font-size: 18px;
    }
    .ultimenews .testinews p {
        font-size: 18px;
        line-height: 30px;
    }
    .corso-titleintro h2 { 
        font-size: 40px;
    }
    .corso-indirizzi-content .db-title h2 {
        font-size: 40px;
    }
}
@media screen and (min-width: 1200px) {
    .rigaevento .dataevento .mese {
        font-size: 21px;
    }
}